<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="PClapper.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <PClapper.Properties.Settings>
            <setting name="breaker" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="startListening" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="tempo" serializeAs="String">
                <value>90</value>
            </setting>
            <setting name="adaptToBackground" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="checkTempo" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="checkRythm" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="tempoTolerance" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="rythmTolerance" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="inputDevice" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="numBuffers" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="bufferLength" serializeAs="String">
                <value>2205</value>
            </setting>
            <setting name="minimumDelay" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="samplingRate" serializeAs="String">
                <value>44100</value>
            </setting>
            <setting name="samplingFormat" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="maxSamples" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="noiseMesurementPeriod" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="avgPeakRatio" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="minTempo" serializeAs="String">
                <value>40</value>
            </setting>
        </PClapper.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
